

.title {
    background-color: #454b52;
    color: white;
    border-radius: 0.5rem;
    padding: 1rem 2rem 1rem 2rem;
    text-align: center;
    margin: 0.5rem 1rem 0.5rem 1rem;
    font-size: 3rem;
}

@media (max-aspect-ratio: 2/1) {
    .title {
        font-size: 2rem;
    }
}

@media (max-aspect-ratio: 1/1) {
    .title {
        font-size: 1.5rem;
    }
}

@media (max-aspect-ratio: 1/2) {
    .title {
        font-size: 1.2rem;
    }
}

@media (max-aspect-ratio: 2/3) {
    .title {
        font-size: 1rem;
    }
}

body {
    background-color: #b8c0c9;
}

#body {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2rem 0 4rem 0;
    margin: 1rem 3rem;
}