.control-container {
    border-radius: 0.25rem;
    padding: 0;
    overflow: hidden;
}

.control-container > button {
    border-radius: 0;
    margin: 0;
    background-color: #596068;
    border-color: #596068;
}

.control-container > button:hover {
    background-color: #454b52;
    border-color: #454b52;
}

.control-section {
    background-color: #DDD;
    margin-bottom: 0;
    padding: 0;
}

.control-section .container {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.control-section button {
    margin: 0.25rem 0.25rem 0.25rem 0.25rem;
    width: calc(100% - 0.5rem);
}

.btn {
    white-space:normal !important;
    word-wrap: break-word;
}

.image-box {
    margin: 1rem;
    padding: 0;
    box-shadow: 0 3px 10px 0 #00000022;
    background-color: white;
}

.title {
    background-color: #454b52;
    color: white;
    border-radius: 0.5rem;
    padding: 1rem 2rem 1rem 2rem;
    text-align: center;
    margin: 0.5rem 1rem 0.5rem 1rem;
    font-size: 3rem;
}

@media (max-aspect-ratio: 2/1) {
    .title {
        font-size: 2rem;
    }
}

@media (max-aspect-ratio: 1/1) {
    .title {
        font-size: 1.5rem;
    }
}

@media (max-aspect-ratio: 1/2) {
    .title {
        font-size: 1.2rem;
    }
}

@media (max-aspect-ratio: 2/3) {
    .title {
        font-size: 1rem;
    }
}

body {
    background-color: #b8c0c9;
}

#recognize-result {
    word-wrap: break-word;
}

#image_canvas_2 {
    cursor: crosshair;
}